<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="jp.co.benesse.dcha.permission.ACCESS_SYSTEM" />

    <application
        android:icon="@android:drawable/ic_lock_lock"
        android:label="EasyBLU"
        android:theme="@android:style/Theme.Black.NoTitleBar">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>

    </application>
</manifest>
